.app-book-page {
    &__back {
        margin-bottom: 32px;
    }

    &__title {
        margin-top: 32px;
    }

    &__spinner {
        margin: 32px auto;
    }

    &__delete {
        margin-top: 20px;
    }
}
