<div *ngIf="bookView" class="app-book-edit-form">
    <mat-form-field class="app-book-edit-form__field" appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput type="text" [(ngModel)]="bookView.title" [disabled]="loading">
    </mat-form-field>
    <mat-form-field class="app-book-edit-form__field" appearance="outline">
        <mat-label>Authors</mat-label>
        <input matInput type="text" [(ngModel)]="bookView.authors" [disabled]="loading">
    </mat-form-field>
    <mat-form-field class="app-book-edit-form__field" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput type="text" [(ngModel)]="bookView.description" rows="4" [disabled]="loading">
            </textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Publish date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="bookView.publishDate" [disabled]="loading">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="app-book-edit-form__toolbar">
        <button
                mat-raised-button color="primary"
                (click)="onSubmit()"
                [disabled]="loading || !bookView.title || !bookView.authors || !bookView.description || !bookView.publishDate"
        >
            {{submitText}}
        </button>
        <button mat-stroked-button color="primary" (click)="onClear()" [disabled]="loading">Reset</button>
    </div>
</div>
